body{
background: #000;
max-width: 100%;
max-height: 100%;
color: red;
}
#hui{
margin-top: 90px;

}
#O{
font-size: 95px;
margin-left: 95px;
}
#v{
    font-size: 95px;
    margin-left: 95px;
    }